<tr>
   <td style="font-family:'Calibri'; font-size:16px; color:#333333; text-align:left;">
      Following are the user details:
   </td>
</tr>
<tr>
   <td height="20" align="left" valign="top"></td>
</tr>

<!-- Insert the table here -->
<tr>
   <td align="left" valign="top">
      <table style="font-family: arial, sans-serif; border-collapse: collapse; width: 50%;">
         <tr>
            <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">User Id/ Emp Id</th>
            <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">First Name</th>
            <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Last Name</th>
            <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Email Id</th>
            <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">User Type/ Role</th>
            <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Request Type</th>
         </tr>
         <tr>
            <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">C49321</td>
            <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Saurabh</td>
            <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Mathe</td>
            <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">saurabhmathe@rblbanl.com</td>
            <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Analyst</td>
            <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Wip</td>
         </tr>
      </table>
   </td>
</tr>

<tr>
   <td height="20" align="left" valign="top"></td>
</tr>